html{
    background-color: rgb(231, 248, 249);
}

h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 400%;
    text-transform: uppercase;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    text-transform: uppercase;
}

h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100%;
    margin-right: 5%;
    margin-left: 5%;
}

cite{
    margin-right: 5%;
    margin-left: 5%;
}

p{
    margin-right: 5%;
    margin-left: 5%;
}

img{
    border-radius: 5%;
}

h2 a{
    color: black;
}

h2 a:hover{
    color: rgb(42, 28, 67);
}

body{
    margin-left: 5%;
    margin-right: 5%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}