.link{
    background-color: white;
    border-color: black;
    padding: 0.5%;
    text-decoration: none;
    border-radius: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.link:hover{
    color: rgba(0, 0, 128, 0.461);
}

li{
    list-style-type: none;
    text-align: center;
}

.nav{
    background-color: lightblue;
    margin-top: 0%;
    margin-right: -5%;
    margin-left: -5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.active{
    color: white;   
    background-color: rgba(0, 0, 128, 0.461);
}