.containerGrid{
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-columns: repeat(3, 0.5fr);
    gap: 1rem;
  }
  

 @media (max-width: 520px) {
  .containerGrid{
    display: block;
  }
}

@media (max-width: 1080px) {
.containerGrid{
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  gap: 1rem;
}
}